<center>
<h1>Simple App DevOps Test</h1>

<b>Sign Up</b>

<form action="/save" method="POST">
	
	<label for="username">Username</label>
	<input name="username" id="username" required><br><br>

	<label for="place">Favorite Place</label>
	<input name="place" id="place" required><br><br>

	<label for="food">Favorite Food</label>
	<input name="food" id="food" required><br><br>

	<input type="submit" value="Save">

</form>

<b>sign in with username</b>
<form action="/get" method="POST">
	<label for="username">Username</label>
	<input name="username" id="username" required><br><br>
	<input type="submit" value="Submit">
</form>

{% if get %}
<font color="blue">The Wishlist for <b>{{username}}</b> is <b>{{place}}</b> and <b>{{food}}</b></font>
<small>{{msg}}</small>
{% endif %}

{% if no_record %}
<font color="red">{{msg}}</font>
{% endif %}

{% if user_exists %}
<font color="red">User <b>{{username}}</b> already exists with the wishlist <b>{{place}}</b> and <b>{{food}}</b></font>
<small>{{msg}}</small>
{% endif %}

{% if saved %}
<font color="green"> Successfully saved data for <b>{{username}}</b> with Wishlist <b>{{place}}</b> and <b>{{food}}</b>!!!</font>
{% endif %}

</center>
<br>
<a href="/keys">Keys</a>
{% if keys %}
	<h3> Keys </h3>
	<small>(From DataBase)</small>
	<ul>
	{% for username in usernames %}
		<li>{{username}}</li>
	{% endfor %}
	</ul>
{% endif %}
